* {
  margin: 0;
  padding: 0;
}
:root {
  --backgroun-color: #000000;
}
body {
  text-align: center;
  justify-content: center;
  background-color: #000000;
  padding: 5em;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: #ffffff;
  margin: 1.5em auto 0 auto;
}
p {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 2em;
}
input {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  font-size: 0.85em;
  height: 4em;
  width: 22em;
  border-radius: 1.5em;
}
input:hover {
  background-color: rgb(196, 196, 210);
  /*color: grey;*/
  transition: 5s;
  color:#000000
}
button {
  border: solid 2px rgb(65, 65, 193);
  background: rgb(65, 65, 193);
  font-size:0.93em;
  color: #ffffff;
  height: 4em;
  width: 22em;
  border-radius: 1.5em;
}
button:hover {
  color: rgb(97, 19, 9);
  background-color: rgb(51, 131, 160);
  transition: 750ms;
  text-transform:uppercase;
  filter: brightness(1.2);
  cursor:pointer;
}


